
  <p>Hey there, <%= @user.username %>!</p>

  <% if !!@user.boards.empty? %>
    Seems like you haven't created a board yet!
  <% else %>
    <% @user.boards.each do |board| %>
      <ul>
        <li><a href = "/boards/#{board.slug}">board.name</a></p>
      </ul>
      <% end %>
  <% end %>
