<h2><font color="Maroon"><%= @user.username %>'s board(s)</font></h2>

    <% if !!@user.boards.empty? %>
        <h3><font color='grey'>Seems like there's no board yet!</font></h3>
    <% else %>
      <br>
      <br>
        <% @user.boards.each do |board| %>
          <h4><a href = "/boards/<%=board.id%>"><%=board.name%></a></h4>
        <% end %>
    <% end %>
    <br>
    <br>
    <br>
    <% if @user == @current_user %>
      <br>
      <br>
      <center><p><a href='/boards/new'>Create a board</a> | <a href='/users'>Wanderers</a> | <a href='/'>Home</a><p></center>
    <% else %>
      <br>
      <br>
      <center><p><a href='/users'>Wanderers</a> | <a href='/'>Home</a><p></center>
    <% end %>
