<center>
  <% if flash.has?(:message) %>
      <font color = 'red'><%=flash[:message]%></font>
      <br>
  <% end %>
  <h2><font color="Maroon">Registration</font></h2>
  <br>
  <br>
  <form method="POST" action="/signup">
    <h4>Username: <input type="text" name="username"></h4>
    <h4>Email Address: <input type="text" name="email"></h4>
    <h4>Password: <input type="text" name="password"></h4>
    <br>
    <input type="submit" value="Sign Up">
  </form>
</center>
