<center>
  <h1><font color="Maroon">Welcome to WanderList</font></h1>
  <br>
  <p><a href='/login'>Log In</a> | <a href='/signup'>Sign Up</a><p>
  <br>
  <h4><font color="grey">Hey there wanderer, looking to plan a trip within the U.S. but don't know where to?<br>
  Begin your journey right here by looking through the list of the best places to travel in the states and pin it to your board.</font></h4>
  <br>
  <img src="https://i.imgur.com/bdEBtdz.jpg?1" alt="yosemite national park" align="middle">

  <h4><em><font color="grey">One's destination is never a place, but a new way of seeing things - Henry Miller</font></em></h4>

  <br>

  <h4><strong><a href='/trips'>Best Places to Visit in U.S.</a></strong></h4>

</center>
