<center>
  <h1><font color="Maroon">Welcome to WanderList</font></h1>
  <br>
  <a href='/login'>Log In</a> | <a href='/signup'>Sign Up</a>

  <h3><em><font color="grey">One's destination is never a place, but a new way of seeing things - Henry Miller</font></em></h3>

  <br>

  <h4>Hey there wanderer, looking to plan a trip within the U.S. but don't know where to?
  Begin your journey right here by looking through the list of the best places to travel in the states and pin it to your board.</h4>

  <br>

  <h4><strong><a href='/trips'>Best Places to Visit in U.S.</a></strong></h4>

</center>
