<!doctype html>
<html>
  <head>
    <title>WanderList</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <body style="background-color:white;">
    <div class="container">
      <%=yield%>
    </div>
  </body>
</html>
